@model TabUIModel

<div class="productTabs-header">
    <ul>
        @foreach (var tabInfo in Model.Tabs)
        {
            <li>
                <a href="#quickTab-@tabInfo.TabKey">@tabInfo.Title @(tabInfo.TabKey == "reviews" && Model.ProductModel.ProductReviewOverview.TotalReviews >0 ? " (" + Model.ProductModel.ProductReviewOverview.TotalReviews + ")" : "")</a>
            </li>
        }
        @if (Model.ProductModel.ComplementaryProductsCount > 0)
        {
            <li><a href="#quickTab-RelatedProducts">@T("Custom.AdditionalProducts") (@Model.ProductModel.ComplementaryProductsCount)</a> </li>
        }
    </ul>
</div>
<div class="productTabs-body">
    @foreach (var tabInfo in Model.Tabs)
    {
        <div id="quickTab-@tabInfo.TabKey">
            @Html.Raw(tabInfo.Content)
        </div>
    }
@if (Model.ProductModel.ComplementaryProductsCount > 0)
{
    <div id="quickTab-RelatedProducts">
        @await Component.InvokeAsync("ComplementaryProducts", new {productId = Model.ProductId})
    </div>
}
</div>