@using Nop.Core
@using Nop.Services.Configuration


@inject IStoreContext storeContext
@inject ISettingService settingService
@{
    bool stickyCategoryMenuFlyout = true;
    bool showCategoriesInSideMenu = true;
}
<div class="header">
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderBefore })
  
    <div class="header-lower">
        <div class="header-logo">
            @await Component.InvokeAsync("Logo")
        </div>


        <div class="header-contacts-toggle contacts-toggle"><span></span></div>
        <div class="header-contacts">
            <a href="tel:+380961481200">
                <img src="/icons/logo-ks.png" />
                +38(096)148-12-00
            </a>
            <a href="tel:+380503756360">
                <img src="/icons/logo-mts.png" />
                +38(050)375-63-60
            </a>
            <br />
            <a href="tel:+380630195490">
                <img src="/icons/logo-life.png" />
                +38(063)019-54-90
            </a>
            <a href="tel:+380442477289">
                <img src="/icons/logo-phone.jpg" />
                +38(044)247-72-89
            </a>
        </div>

        <div class="search-box store-search-box">
            <div class="close-side-menu">
                <span class="close-side-menu-text">@T("Search.SearchBox.Tooltip")</span>
                <span class="close-side-menu-btn">@T("SevenSpikes.Themes.Common.CloseMenu")</span>
            </div>
            @await Component.InvokeAsync("SearchBox")
        </div>

        <div class="header-links-wrapper">
            @await Component.InvokeAsync("HeaderLinks")
        </div>
    </div>
    <div class="header-menu-parent">
        <div class="header-menu @if (showCategoriesInSideMenu){<text>categories-in-side-panel</text>}">
            @if (showCategoriesInSideMenu)
		    {
		        <div class="category-navigation-list-wrapper">
			        <span class="category-navigation-title">@T("SevenSpikes.Themes.Emporium.Header.AllCategories")</span>
		            <ul class="category-navigation-list @if (stickyCategoryMenuFlyout){<text>sticky-flyout</text>}"></ul>
		        </div>
		    }
		    <div class="close-menu">
		    	<span class="close-menu-text">@T("SevenSpikes.Themes.Common.MenuTitle")</span>
		        <span class="close-menu-btn">@T("SevenSpikes.Themes.Common.CloseMenu")</span>
		    </div>
            @{
                var menuHtml = await Component.InvokeAsync("Widget", new { widgetZone = "theme_header_menu" });
            }
            @if (!String.IsNullOrEmpty(await menuHtml.RenderHtmlContentAsync()))
            {
                @menuHtml
            }
            else
            {
                @await Component.InvokeAsync("TopMenu")
            }
		    <div class="mobile-menu-items"></div>
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderAfter })
</div>